.app {
    /* text-align: center; */
    margin: 0 auto;
    width: 50%;
  }
  
  .selected-date {
    margin: 0 auto;
  }
  
  .times button {
    display: block;
    color: #280948;
    margin-top: 5px;
  }
  
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  
  /* react calendar */
  
  
  .react-calendar { 
    width: 100%;
    height: auto;

    margin-top: 20px;
    background-color: transparent;
    color: #280948;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.316);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
   }
  
   .react-calendar__navigation button {
    color: #280948;
    border-radius: 10px;
    min-width: 40px;
    background:none;
    font-size: 16px;
    margin-top: 8px;
   }
  
  .react-calendar--doubleView {
    width: 50%;
  }
  .react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
  }
  .react-calendar--doubleView .react-calendar__viewContainer > * {
    width: 50%;
    margin: 0.5em;
  }
  .react-calendar,
  .react-calendar *,
  .react-calendar *:before,
  .react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
  }
  .react-calendar button:enabled:hover {
    cursor: pointer;
  }
  .react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
  .react-calendar__navigation button {
    min-width: 44px;
    /* background: none; */
  }
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #280948;
    color: white;
  }
  .react-calendar__navigation button[disabled] {
    background-color: #D9D9D9;
  }
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
  }
  .react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
    padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
  }
  .react-calendar__month-view__days__day--weekend {
    /* color: #d10000; */
    color: #764BA2;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #764BA2;
  }
  .react-calendar__year-view .react-calendar__tile,
  .react-calendar__decade-view .react-calendar__tile,
  .react-calendar__century-view .react-calendar__tile {
    padding: 1.3em 0.5em;
    border-radius: 10px;
  }
  .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
  }
  .react-calendar__tile:disabled {
    background-color: #f0f0f0;
  }
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: #764BA2;
    border-radius: 5px;
    color: white;
  }
  .react-calendar__tile--now {
    /* background: #ffff76; */
    background-color: #280948;
    color: white;
    border-radius: 5px;
    opacity: none;
  }
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--now:enabled:focus {
    background: #764BA2;
  }
  /* .react-calendar__tile--hasActive {
    background: #76baff;
  } */
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #764BA2
  }
  .react-calendar__tile--active {
    background: #764BA2;
    color: #D9D9D9;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus {
    background: #764BA2;
    color: #D9D9D9;
    
  }
  .react-calendar--selectRange .react-calendar__tile--hover {
    background-color: #e6e6e6;
  }
  
  