.opcoes{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 40;
    margin-left: -13px;
}
.op, .bttnsem{
    gap: 30px; 
    font-weight: 500;
}

.bttnsem {
    background-color: #F5F5F7;
    border-radius: 12px;
}

.proj{
    margin-top: 30px;
    display: flex;
    width: 39.81rem;
    height: 2.25rem;
    gap: 1.87rem;    
 }

 .bt{
    width: 24.25rem;
    height: 2.25rem;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}
 
.opbttn{
    border-radius: 0.68rem;
    width: 7.8rem;
    height: 2.5rem;
    border: none;
    color: var(--roxo);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.18rem;
 }

.opbttn img{
    margin-left: 0.3rem;
    align-items: center;
}

 /* -=-=-=-=-=-=-=-=-=-=-=-=-=- Calendario -=-=-=-=-=-=-=-=-=-=-=-=-=- */
 .calendario{
    display: flex;
    margin-top: 16px;
    margin-bottom: 45px;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=- COLUNA-TRES-=-=-=-=-=-=-=-=-=-=-=-=-=- */




.info_agenda {
    height: 8.125rem;
    width: 12rem;
    margin-left: 2rem;
    display: flex; 
    flex-direction: column;
    justify-content: space-between
 }

#lado2 button {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    border: none;
    margin-left: 0.75rem;
    margin-top: 3.5rem;
}


.ContTabela::-webkit-scrollbar-thumb{
    background: var(--roxo1);
    border-radius: 10px;
    width: 5px;
    height: 30px;
}
.ContTabela::-webkit-scrollbar{
    background: var(--cinza);
    width: 5px;
    opacity: 0.3;
    border-radius: 10px;
}
.allpro{
    height: 18.75rem;
}

