@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;   
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-y:hidden;
}
:root {
    --roxo: #280948;
    --roxo1: #764BA2;
    --azul: #96B3FD;
    --azul1: #667EEA;
    --cinza: #F5F5F7;
    --cinza1: grey;
    --white: #FFFFFF;
}
#root {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: linear-gradient(135deg, var(--azul), var(--roxo));
}
.container_maior {
    display: flex;
    width: 78vw;
    height: 92vh;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
}
.header {
    margin-left: 2.5rem;
    margin-top: 20px;
    width: 15%;
    height: 95%;
    background-color: var(--roxo); 
    border-radius: 32px;
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=- BOTÕES DO MENU -=-=-=-=-=-=-=-=-=-=-=-=-=- */
.btmenu{
    margin-top: 40px;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0.5rem;
}
.btmenu h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
}
.btn1_p1, .btn2_p h5{
    margin-top: 5px;
}
/* Tamanho dos botões */
.btn1, .btn2 {
    height: 6%;
    width: 30%;
    height: 4%;
    margin-top: 3.5vh;
    transition: .2s;
}
/* Cor do botão 1 */
.btn1 {
    color: #fff;
}
/* Cor do botão 2 */
.btn2 {
    color:#fff;
    opacity: 60%;
}
/* Icone e texto dos botões */
.btn1_p1, .btn2_p1 {
    float: left;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 1vw;
    gap:30%;
    width: 40px;
    
}
.btn1:hover, .btn2:hover {
    color: white;
    opacity: 100%;
    transition: .2s;
    transform: scale(1.05);
}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=- CHARTS -=-=-=-=-=-=-=-=-=-=-=-=-=- */
.charts{
    margin-top: 40px;
    margin-left: 2.5rem;
    width: 636px;
}
.opcoes{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 636px;
}
.op, .bttnsem{
    gap: 30px;
    margin-right: 10px; 
    font-weight: 500;
}
.charts h5{
    color: var(--roxo);
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    margin-top: -1px;
    margin-bottom: 13px;
}
.grey{
    color: black;
    opacity: 0.3;
}
.grafico{
    margin-left: -6%;
}
 /* -=-=-=-=-=-=-=-=-=-=-=-=-=- TODOS OS PROJETOS -=-=-=-=-=-=-=-=-=-=-=-=-=- */
 .proj{
    margin-top: 30px;
    display: flex;
    width: 637px;
    height: 36px;
    gap: 30px;    
 }
 .proj h4{
    color: var(--roxo);
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    width: 179px;
 }
 .bt{
    width: 388px;
    height: 36px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}

.bt input {
    padding-left: 0.7rem;
}   
.lupa img{
    position: relative;
    margin-left: -40px;
    margin-top: 2px;
    width: 20px;
    height: 30px;
 }
 
 .search {
    border: 1px solid black;
    width: 250px;
    height: 36px;
    border-radius: 30px;
    border: 1px solid var(--roxo);
    background-color: white;
}
.opbttn{
    border-radius: 0.68rem;
    width: 7.8rem;
    height: 2.5rem;
    border: none;
    color: var(--roxo);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.18rem;
 }
 .opbttn img{
    margin-left: 0.3rem;
    align-items: center;
 }
.cont_table{
    background: linear-gradient(90.24deg, #764BA2 9.3%, #667EEA 99.93%);
    width: 37.8rem;
    border-radius: 0.6rem;
    height: 2.5rem;
    margin-top: 0.9rem;
    color: white;
    font-weight: 600;
    font-size: 1.12;
    line-height: 1.7rem;
}
.text{
    margin-top: 0.3rem;
    margin-left: 0.9rem;
}
.cont_table button{
    background-color: transparent;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    margin-right: 1.25rem;
    margin-top: 0.3rem;
} 
 /* -=-=-=-=-=-=-=-=-=-=-=-=-=- Calendario -=-=-=-=-=-=-=-=-=-=-=-=-=- */
.calendario{
    display: flex;
    margin-top: 16px;
    margin-bottom: 45px;
}
 
/* -=-=-=-=-=-=-=-=-=-=-=-=-=- COLUNA-TRES-=-=-=-=-=-=-=-=-=-=-=-=-=- */
.scrollbar{
    width: 10px;
    height: 637px;
    margin-top: 12.1rem;
    margin-left: 56.5rem;
    position: absolute;
}
.smallscroll{
    position: absolute;
    margin-top: 33rem;
    margin-left: 58rem;
}
.decor{
    position: absolute;
    margin-top: 28.8rem;
    margin-left: 60rem;
    width: 24px;
    height: 464px;
    
}
.coluna-tres{
    margin-top: 4.8rem;
    margin-left: 3.12rem;
    margin-right: 2.5rem;
    width: 28.8rem;
}

.create_card {
    display: flex;
    width: 27.4rem;
    height: 6rem;
    background-image: url("../public/assets/create_background.svg");
    align-items: center;
    border-radius: 20px;
    margin-bottom: 0.625rem;
}

 .create {
    margin-left: -12%;
    margin-top: 0;
 }
 .create_card h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: var(--white)
 }
 .create_card p{
    color: var(--cinza);
    opacity: 0.3;
    font-weight: 400;
    font-size: 16px;
 }
 .create_card button{
    display: flex;
    width: 3.25rem;
    height: 3.25rem;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    border: none;
 }
 .btn_criar{
    margin-right: -13%;
 }
 .btn_criar img{
    width: 1.5rem;
    height: 1.5rem;
    align-self: center;
 }
 .btn_criar button:hover{
    width: 3.5rem;
    height: 3.5rem;
 }
 .agenda {
    display: flex;
    align-items: center;
    width: 25rem;
    height: 11rem;
    background-image: url("../public/assets/create_background2.svg");
    border-radius: 20px;
    margin-bottom: 2rem; 
    margin-top: 1rem; 
    margin-left: 2.5rem;
 }
.info_agenda {
    height: 8.125rem;
    width: 12rem;
    margin-left: 2rem;
    display: flex; 
    flex-direction: column;
    justify-content: space-between
 }
.info_agenda h5 {
    width: 10vw;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: var(--white)
 }
.people {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 43%;
    align-items: flex-end;
}
 
.people img {
    margin-left: -1rem;
}
.agenda h6 {
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
}
#lado1 button {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    background-color: var(--azul);
    border-radius: 10px;
    border: none;
    margin-left: 0.75rem;
    margin-top: 3.5rem;
}
#lado2 button {
    display: flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 10px;
    border: none;
    margin-left: 0.75rem;
    margin-top: 3.5rem;
}
.info_agenda2 {
    width: 8.125rem;
    height: 8.125rem;
    margin-right: 2rem;
    margin-top: 10px;
}
.info_agenda2 img {
    width: 1.25rem;  
    height: 0.85rem; 
}
 /* -=-=-=-=-=-=-=-=-=-=-=-=-=- TODOS AS TAREFAS -=-=-=-=-=-=-=-=-=-=-=-=-=- */

.coluna-dois {
    width: 39.75rem;
    margin-left: 2.5rem;
    margin-left: 42px;
    margin-top: 3.313rem;
}

.info_search h5{
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: var(--roxo);
}
.search2{
    height: 4rem;
    width: 38.75rem;
    border-radius: 20px;
    border: solid 1px var(--roxo1);
}
.people_tarefas {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 26.4rem;
    align-items: flex-end;
}
.people_tarefas img {
    margin-left: -1rem;    
}
.pross{
    margin-left: 2rem;
    margin-top: 50px;
    width: 31.3rem;
}
.pross p {
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
}
.barra{
    width: 40%;
}
.task_table{
    margin-top: 3.313rem;
    width: 35rem;
    height: auto;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}
.inforcard{
    margin-left: 1.875rem;
    padding-top: 1.5rem;
}
.inforcard h6{
    color: var(--roxo);
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
}
.inforcard p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--cinza1);
    margin-bottom: 14px;
}

 /* -=-=-=-=-=-=-=-=-=-=-=-=-=- PESSOA -=-=-=-=-=-=-=-=-=-=-=-=-=- */
 
 .cardp{
    background: rgba(118, 75, 162, 0.5);
    width: 38.75rem;
    height: 10rem;
    border-radius: 14px;
    justify-content: space-around;
    align-items: center;
 }

.infopessoas h2{
    color: var(--roxo);
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
}

.infopessoas p{
    color: var(--white);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.progresso-p{
    margin-top: 1.79rem;
    width: 38.75rem;
    height: 7.68rem;
}

.nome-icon{
    width: 38.75rem;
    justify-content: space-between;
    margin-bottom: 1.06rem;
}

.pessoas-equipe{
   flex-direction:row-reverse ;
}

.pessoas-equipe img{
    margin-left: -1rem;
}

.opcoes-pessoas{
    margin-top: 2.37rem;
}

.coluna_pessoas {
    height: 80vh;
    margin-top: 55px;
    margin-left: 75px;
}

.search_pessoas {
    margin-right: -2rem;
    width: 250px;
    height: 36px;
    border-radius: 30px;
    border: 1px solid var(--roxo);
    background-color: white;
}

.lupa_pessoas img {
    position: relative;
    margin-left: -1rem;
    margin-top: 2px;
    width: 20px;
    height: 30px;
}

.all_cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
    margin-top: 33px;
    width: 100%;
}
.card_pessoas{
    margin-bottom: 30px;
   min-width: 100px;
}
.card_pessoas_active {
    background: rgba(40, 9, 72, 0.5);
    width: 23.5rem;
    height: 6.2rem;
    border-radius: 14px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info_pessoas h2 {
    color: var(--roxo);
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.info_pessoas p {
    color: var(--roxo1);
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;
}

.profile {
    width: 70px;
    height: 70px;
}

.card_pessoas {
    background: var(--cinza);
    width: 23.5rem;
    height: 6.2rem;
    border-radius: 14px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card_pessoas:hover {
    transition: .2s;
    transform: scale(1.05);
}

.create_card_pessoas {
    display: flex;
    width: 25.56rem;
    height: 6rem;
    background-image: url("../public/assets/background_pessoas.svg");
    align-items: center;
    border-radius: 20px;
    margin-bottom: 0.625rem;
    margin-top: 1rem;
}

.create_card_pessoas h5{
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: var(--white)
}

.create_pessoas {
    margin-left: -0.5rem;
    margin-top: 1rem;
 }

 .create_card_pessoas p{
    color: var(--cinza);
    opacity: 0.3;
    font-weight: 400;
    font-size: 16px;
 }

 .create_card_pessoas button{
    display: flex;
    width: 3.25rem;
    height: 3.25rem;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    border: none;
    margin-right: 2.5rem;
 }

#scroll {
    position: absolute;
    margin-left: 25rem;
}
.all_cards::-webkit-scrollbar-thumb{
    background: var(--roxo1);
    border-radius: 10px;
    width: 5px;
    height: 30px;
}
.all_cards::-webkit-scrollbar{
    background: var(--cinza);
    width: 5px;
    opacity: 0.3;
    border-radius: 10px;
}
.alltasks{
    max-height: 500px;
}
.alltasks::-webkit-scrollbar-thumb{
    background: var(--roxo1);
    border-radius: 10px;
    width: 5px;
    height: 30px;
}
.alltasks::-webkit-scrollbar{
    background: var(--cinza);
    width: 5px;
    opacity: 0.3;
    border-radius: 10px;
}
.allpro::-webkit-scrollbar-thumb{
    background: var(--roxo1);
    border-radius: 10px;
    width: 5px;
    height: 30px;
}
.allpro::-webkit-scrollbar{
    background: var(--cinza);
    width: 5px;
    opacity: 0.3;
    border-radius: 10px;
}
.allpro{
    height: 300px;
}

/* @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

:root {
    --primary: #FFB74A;
    --secondary: #7196F3;
    --light: #F2CA9A;
    --cinza1: #717171;
    --cinza2: #595959;
    --cinza3: #393939;
    --cinza4: #34373F;
   


}

#root {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: linear-gradient(135deg, var(--azul), var(--roxo));
}

.container_maior {
    display: flex;
    width: 88.54vw;
    height: 83.62vh;
    background-image: linear-gradient(113.43deg, var(--primary) -71.14%, #505050 16.53%, #595959 89.77%, var(--secondary) 141.93%);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.header {
    margin-left: 24px;
    margin-top: 20px;
    width: 17.65%;
}

.header1 {
    background-color: var(--cinza2); 
    height: 20.24%;
    width: 100%;
    border-radius: 15px;
}

body::-webkit-scrollbar {
    width: 12px;            
}
  
body::-webkit-scrollbar-track {
background: var(--primary);   
}

body::-webkit-scrollbar-thumb {
background-color: red;    
border-radius: 20px;      
border: 3px solid var(--primary) !important;  
}
  

/* -=-=-=-=-=-=-=-=-=-=-=-=-=- BOTÕES DO MENU -=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* Tamanho dos botões */
/* .btn1, .btn2 {
    width: 100%;
    height: 5.57%;
    margin-top: 1.5vh;
    border-radius: 1.5vh;
    transition: .2s;
}

.btn1:hover, .btn2:hover {
    background-color: var(--cinza3);
    transition: .2s;
    transform: scale(1.05);
}

/* Cor do botão 1 */
/* .btn1 {
    box-shadow: 0px 0px 3px var(--primary);
    background-color: var(--cinza2);
} */

/* Cor do botão 2 */
/* .btn2 {
    background-color: var(--cinza2);
} */

/* Icone e texto dos botões */
/*.btn1_p1, .btn2_p1 {
    float: left;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 1vw;
}

.btn1_p1 > img,  .btn2_p1 > img{
   height: 50%;
   width: 50%;
}

.btn1_p1 > img {
    box-shadow: 0px 0px 1px var(--primary);
}

.btn1_p1 > h2, .btn2_p1 > h2 {
    margin-left: 0.5vw;
    margin-top: 10px;
    font-size: 1.79vh;
}

.btn1_p1 > h2 {
   color: var(--primary) !important;
}

.btn2_p1 > h2 {
    color: var(--light);
 } */

 /* Div colorida que fica na direita do botão */
 /* .btn1_p2, .btn2_p2 {
     float: right; 
     height: 100%;
     width: 11px;
     border-radius: 0px 1.5vh 1.5vh 0px;
 }

.btn1_p2 {
    background-color: var(--primary);
}
 
 .btn2_p2 {
     background-color: #9D8B76;
 } */

/* -=-=-=-=-=-=-=-=-=-=-=-=-=- BOTÂO PRIMARY -=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* .btn_primary {
    background-color: var(--primary);
    border-radius: 15px;
    border: 0;
    box-shadow: 0px 0px 5px var(--primary);
    padding-right: 10px;
    padding-left: 10px;

    height: 36px;
    font-size: 20px;
    color: white;

    display: flex;
    text-decoration: none; 
    align-items: center;
}

.btn_primary p {
    margin-bottom: 0px;
}

.btn_primary:hover p {
    color: var(--cinza3);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=- Menu1 -=-=-=-=-=-=-=-=-=-=-=-=-=- */

/* .menu1 {
    background-color: var(--cinza2);
    margin-left: 21px;  
    margin-top: 20px;
    padding: 15px;
    
    border-radius: 20px;
    width: 36.01%;
    height: 96.04%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar {
    width: 90.74%;
    height: 53px;
    border-radius: 30px;
    background-color: var(--cinza1);
}

.searchbar > input {
    width: calc(90.74% - 50px);
    height: 53px;
    margin-left: 30px;
    margin-right: 20px;
    border: none;
    outline: none;
    color: #FFFFFF;
    background-color: var(--cinza1);
}

.searchbar > button {
    border: none;
    background-color: transparent;
    transition: .5s;
}

.searchbar > button:hover {
    transform: scale(1.2)rotate(-10deg);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: .5s;
}

.mostrarProjetos {
    margin-top: 67px;
    height: calc(100% - 120px);
    width: 100%;
}

.mostrarProjetos > h1 {
    color: var(--primary);
    font-size: 48;
}

.cont_table {
    background-color: var(--cinza1);
    width: 100%;
    padding: 5px;
    border-radius: 15px;
    height: calc(100% - 54px);
}

table {
    width: 100%;
    border-collapse: separate !important;
}

thead, tbody {
    border: var(--cinza1) !important;
}

th {
    color: var(--primary);
}

.id_table {
    color: var(--light);
}

tr > td {
    color: white;
    font-size: 15px;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}

tr:hover td {
    background-color: var(--cinza2);
}

td button {
    border: none;
    background-color: var(--primary) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 89px;
    height: 16px;
    border-radius: 15px;
    color: var(--cinza3);
    box-shadow: 0px 0px 5px var(--primary);
}

td a{
    text-decoration: none;
    font-size: 14px;
}

td a:hover button {
    transition: .5s;
} */ 



/* -=-=-=-=-=-=-=-=-=-=-=-=-=- Exibir Projetos pelo ID -=-=-=-=-=-=-=-=-=-=-=-=-=- */

/*.cont_tituloprojeto {
    width: 551px;
    height: auto;
    background-color: var(--cinza2);
    border-radius: 20px;
    padding: 15px;  
}

.cont_tarefasdoprojeto {
    border-radius: 20px;
    margin-top: 15px;
    padding: 15px;
    background-color: var(--cinza2);
    width: 551px;
    height: auto;
    max-height: 485px;
}

.title_projeto_id {
    margin-top: 20px;
}

h1 {
    color: var(--primary);
    margin-bottom: 0px;
    font-size: 48px;
}

h2 {
    color: var(--light);
}

h3 {
    color: var(--primary);
}

.Title_exibirTarefasProjeto {
    display: flex;
    width: 100%;
    justify-content: space-between;
} */